html, #poznamka {
    font-family: 'Open Sans', sans-serif;
}

html, a {
    background-color: midnightblue;
    color: white;
}

.stred {
    text-align: center;
}

#title {
    margin-top: 2em;
    font-size: 5em;
}

#poznamka {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border: 1px solid blue;
    resize: none;
    font-size: 2em;
    background-color: #3F51B5;
    color:white;
}

#sendbutton {
    background-color:green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button, button:disabled, #pocetznaku {
    transition: 1s;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

table {
    width: 50%;
    max-width: 50%;
    table-layout: fixed;
    word-wrap: break-word;
    margin-left: 25%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5em;
}

.stred a {
    text-decoration: underline;
    font-size: 2em;
}

#goto {
    margin-top: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sticker {
    background-color: yellow;
    color: black;
    padding: 1.5em;
    min-width: 20em;
    word-break: break-word;
}

.flex-container a, .sticker, .date, .priority {
    font-size: 1em;
}

.container {
    max-width: min-content;
    margin: 1.5em;
}

.priority {
    margin-left: 35%;
}

.edit {
    margin-left: 80%;
}

.date, .priority, #sendbutton, #dulezitost, #pocetznaku {
    display:inline-block;
}

#sendbutton {
    margin-left: 25%;
}

#pocetznaku {
    margin-left: 2%;
}

#dulezitost {
    margin-left: 30%;
    padding: 0.5em;
    background: midnightblue;
    color: white;
    outline: white;
}