<html>
    <head>
        <title>Poznámkovač</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/main.min.js"></script>
        <link href="/static/css/custom.min.css" rel="stylesheet">
    </head>

    <body onload="countsetup()">
      <a href="/">Zobrazit poznámky</a>  
      <h1 class="stred" id="title">{{ title }}</h1>
        <div id="container">
            <form method="POST" action="{{ action }}">
                {{ form.csrf_token }}
                {{ form.poznamka() }}
                <div class="vsepod">
                <button type="submit" id="sendbutton">Odeslat</button>
                {{ form.dulezitost() }}
                <h1 id="pocetznaku" onload="update()">0/250</h1>
                </div>
            </form>
        </div>
    </body>

<script>{% if prefill is defined %}var textarea = document.getElementById('poznamka');textarea.innerHTML = "{{ prefill[0] }}";document.getElementById("dulezitost").selectedIndex = {{ prefill[1]}};{% endif %}</script>