<html>
    <head>
        <title>Výpis poznámek</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/main.min.js"></script>
    </head>

    <body>
    <div>
        <h1 class="stred">Výpis všech poznámek</h1>
        {% if poznamky|length %}
        {% else %}
            <h1 style="text-align: center;">Nejsou tu žádné poznámky</h1>
        {% endif %}
        <div class="flex-container">
        {%for i in poznamky%}
            <div class="container">
                <a href="#" onclick="deletepoznamka({{i[0]}})"><svg height="15pt" viewBox="0 0 365.71733 365" width="20pt" xmlns="http://www.w3.org/2000/svg"><g fill="#f44336"><path d="m356.339844 296.347656-286.613282-286.613281c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503906-12.5 32.769532 0 45.25l286.613281 286.613282c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082032c12.523438-12.480468 12.523438-32.75.019532-45.25zm0 0"/><path d="m295.988281 9.734375-286.613281 286.613281c-12.5 12.5-12.5 32.769532 0 45.25l15.082031 15.082032c12.503907 12.5 32.769531 12.5 45.25 0l286.632813-286.59375c12.503906-12.5 12.503906-32.765626 0-45.246094l-15.082032-15.082032c-12.5-12.523437-32.765624-12.523437-45.269531-.023437zm0 0"/></g></svg></a>
                <a class="edit" href="/poznamka/editovat/{{i[0]}}">[edit]</a>
                <h1 class="sticker">{{i[1]}}</h1>
                <h1 class="date">{{i[2]}}</h1>
                <h1 class="priority">
                {% if i[3] == 0 %}
                Méně důležité
                {% elif i[3] == 1 %}
                Normální
                {% elif i[3] == 2 %}
                Více důležité
                {% endif %}
                </h1>
            </div>
        {%endfor%}
        </div>
    </div>
    <div class="stred" id="goto">
        <a href="/poznamka/vlozit/">Vložit poznámku</a>
    </div>    
    </body>
</html>